@media only screen and (min-width: 491px) and (max-width: 784px) {
  .nav .title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 490px) {
  .nav .side-bar,
  .nav .scores,
  .nav .title {
    flex: 1 1 100%;
  }

  .nav .side-bar .reset-btn,
  .nav .side-bar .new-btn {
    flex: 1 1 10%;
    border-radius: 0px;
    font-size: 1rem;
    padding: 2%;
  }
  .new-game-form .setting-form {
    width: 100%;
  }
  .new-game-form .setting-form .pc-photo {
    width: 50%;
    order: -1;
  }
  .new-game-form .signature {
    margin-top: 0;
  }
  /* .game-container .lines .ga {
      font-size: 2rem;
    } */
  /* .big-container .game-container {
      flex-direction: column;
      width: 80%;
    }
    .nav .side-bar .reset-btn {
      width: 100%;
      margin-bottom: 2%;
      border-radius: 0;
    }
    .big-container .vs-photo {
      max-width: 25%;
      max-height: 25%;
    }
    .nav .side-bar .reset-btn {
      width: 60%;
      margin-top: 15%;
    } */
}
@media (min-width: 490px) and (max-width: 800px) {
  .new-game-form {
    width: 100%;
  }
  .new-game-form .setting-form {
    width: 100%;
  }

  /* .big-container .players-container {
      margin: 10% 0%;
    }
    .ply1-container,
    .ply2-container {
      width: 40%;
    }
    .big-container .vs-photo {
      max-width: 20%;
      max-height: 80%;
    }
    .big-container .game-container {
      width: 80%;
      height: 30%;
    } */
  /* .big-container .game-container .ga {
      font-size: 5rem;
      width: 60%;
    } */
  /* .big-container .reset-btn {
      width: 80%;
      height: 7%;
      margin-bottom: 5%;
    } */
}
